<% if comments.size > 0 %>
<% comments.each do |comment| %>
<div class="comment border-bottom border-dark">
    Posted by <%= link_to comment.account.full_name, profile_path(comment.account.username) %>
    <%= time_ago_in_words comment.created_at %> ago:
    <h5><%= simple_format  comment.message %></h5>
</div>
<% end %>
<% else %>
<a class="p-3 m-3">No comments yet..</a>
<% end %>