
    <% unless account_signed_in? %>
    <a>You need to sign in, before viewing posts..</a>
    <% end %>
    <div class="row">
            <div class="col">
                <p class="h5">Popular posts</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <%= render partial: "posts/list", locals: { posts: @posts } %>
            </div>

            <div class="col-4">
                <p class="h5">Subreddits</p>
    
    
                <div class="card">
                    <ul class="list-group list-group-flush">
                       <% @communities.each do |community| %>
                           <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
                       <% end %>
                    </ul>
                </div>

                <%= link_to "View all", communities_path, class: "btn btn-primary mt-3" %>
            </div>
        </div>
        
